@import "utilities/variables";
@import "utilities/helpers";
@import "utilities/typography";
@import "utilities/button";
@import "utilities/grid";

html {
  font-size: 14px;
}

body {
  background-color: $theme-background-color;
  font-family: 'Fira Mono', Courier, monospace;
  color: $theme-text-color;
  line-height: 1.5;
  font-feature-settings: "liga","kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}

label {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}

pre {
  display: flex;
  margin-top: 8px;
  background-color: rgba(144, 164, 174, 0.12);
  border-radius: 4px;
  padding: 9px 12px 10px;
  position: relative;
  overflow-x: scroll;

  code {
    display: inline-block;
    counter-reset: linenumbers;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
    font-weight: 400;
    color: #718ca1;
    line-height: 21px;
  }
}

.color-palette {
  display: flex;
  padding: 0;
  margin: 0 0 $theme-baseline * 6;
  list-style: none;

  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    margin: $theme-baseline * 2;
    font-weight: 500;
    border-raduis: 2px;

    &:first-child {
      margin-left: 0;
    }
  }
}
