.container {
  position: relative;
  margin: 0 auto;
  max-width: 1120px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

.grid-two, .grid-three, .grid-four, .grid-ten {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-two > div {
  flex-basis: 50%;
  width: 50%;
}

.grid-three > div {
  flex-basis: 33.333%;
  width: 33.333%;
}

.grid-four > div {
  flex-basis: 25%;
  width: 25%;
}

.grid-ten > div {
  flex-basis: 8.333%;
  width: 8.333%;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.max-width-small {
  max-width: 640px;
  width: 100%;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
