$theme-background-color: #fff;
$theme-text-color: #4D6C85;
$theme-primary-color: #FF5370;

$theme-baseline: 8px;

$theme-color-tag: #7C4DFF;
$theme-color-constant: #FFB054;
$theme-color-keyword: #008B94;
$theme-color-string: #FF5370;
$theme-color-entity: #539AFC;
$theme-color-variable: #F76D47;
