$theme-background-color: #f6f6f6;
$theme-text-color: #4D6C85;
$theme-primary-color: #FF5370;

$theme-baseline: 8px;

$theme-color-tag: #7C4DFF;
$theme-color-constant: #FFB054;
$theme-color-keyword: #008B94;
$theme-color-string: #FF5370;
$theme-color-entity: #539AFC;
$theme-color-variable: #F76D47;


$theme-color-tag: #008B94;
$theme-color-keyword: #7C4DFF;
$theme-color-variables: #FFB62C;
$theme-color-string: #FF5370;
$theme-color-inherited: #539AFC;
$theme-color-support: #D95468;
$theme-color-entity: #91B859;
$theme-color-selection: #80CBC4;
$theme-color-constant: #6182B8;
$theme-color-number: #E27E8D;
$theme-color-json: #F76D47;
$theme-color-function: #A71D5D;
$theme-color-comment: #BFBFBF;
$theme-color-background: #F6F6F6;
$theme-color-foreground: #4D6C85;
